@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

:root {
  /* color */
  --color-main: #8447ff;
  --color-main-dark: #581bd1;
  --color-main-darker: #4915b0;
  --color-main-medium: #a97eff;
  --color-main-light: #d0b9ff;
  --color-main-lighter: #f2ecff;
  --color-main-faint: #f8f6ff;
  --color-text-black: #333333;
  --color-text-lightblack: #515151;
  --color-text-darkgray: #999999;
  --color-text-gray: #b5b5b5;
  --color-lightgray: #dddddd;
  --color-lightergray: #eeeeee;
  --color-faintgray: #fafafa;
  --color-white: #ffffff;
  --color-red: #eb5858;
  --color-blue: #6262f1;
  --color-bg-faintblue: #f2f5f8;

  /* font */
  --basic-font: 1.2rem;

  /* box-shadow */
  --drop-dark-shadow-left: -1px 4px 5px rgba(0, 0, 0, 0.3);
  --drop-dark-shadow-right: 2px 4px 5px rgba(0, 0, 0, 0.3);
  --dark-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  --drop-light-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.07);
  --rise-light-shadow: 0px -3px 4px 0px rgba(0, 0, 0, 0.07);
  --right-light-shadow: 3px 0 4px 0 rgba(0, 0, 0, 0.07);
  --left-light-shadow: -3px 0 4px 0 rgba(0, 0, 0, 0.07);
  --light-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
}

html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Noto Sans KR',
    'malgun gothic', sans-serif;
  font-size: var(--basic-font);
  color: var(--color-text-black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

.MuiButton-root {
  font-family: inherit !important;
}
