.modifyContainer {
  padding: 3rem 2rem;
}

.title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.inputForm {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.4rem;
}

.inputRow {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.inputLabel {
  width: 10rem;
  flex: none;
}

.buttonWrap {
  margin-top: 2rem;
  text-align: right;
}